.desc{
    height: 120px;
    background: linear-gradient(to bottom, rgba(125,185,232,1) 0%,rgba(41,137,216,1) 26%,rgba(32,124,202,1) 70%,rgba(30,87,153,1) 100%);
}
.price{
    height: 270px;
    background: linear-gradient(135deg, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); 
    padding: 2px;

    color: red;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-size: 23px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dest{
    background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(32,124,202,1) 30%,rgba(41,137,216,1) 74%,rgba(125,185,232,1) 100%);
}
.ofimg{
    height: 150px; padding: 0;
    border-radius:25px 25px 0px 0px;
    overflow:hidden;
}
.rowpad{
    padding-top: 25px;
}
.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.txtpad{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.rounddes div{
    border-radius: 0px 0px 25px 25px;
}