<div class="col-sm-2">
  <ul class="nav nav-pills nav-stacked navbar-default">
    <li><a [routerLink]=
      "['/profile', {outlets: {profile: ['summary']}}]">Summary</a></li>
    <li><a [routerLink]=
      "['/profile', {outlets: {profile: ['password']}}]">Password</a></li>
    <li><a [routerLink]=
      "['/profile', {outlets: {profile: ['personalinformation']}}]">Personal Information</a></li>
    <li><a [routerLink]=
      "['/profile', {outlets: {profile: ['addresses']}}]">Addresses</a></li>
  </ul>
</div>
<div class="col-sm-6 col-sm-offset-2 container modborder">
    <router-outlet name="profile"></router-outlet>
</div>